node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
*artifacts

#may be added later
scripts
test
hardhat.config*
.openzeppelin

#test contracts
archive
contracts/DBswap_rinkeby.sol

#duplicated contracts
contracts/UniswapV3Factory.sol
contracts/NoDelegateCall.sol
contracts/UniswapV3Pool.sol
contracts/UniswapV3PoolDeployer.sol