node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
*artifacts

#may be added later
scriptTest
test
hardhat.config*
.openzeppelin

#test contracts
archive
contracts/DBswap_rinkeby.sol

#duplicated contracts
contracts/UniswapV3Factory.sol
contracts/NoDelegateCall.sol
contracts/UniswapV3Pool.sol
contracts/UniswapV3PoolDeployer.sol

#old file hierarchy
contracts/DAObiContract2.sol
contracts/DAObiContract3.sol
contracts/DaobiChancellorsSeal.sol
contracts/DaobiVoteContract.sol
contracts/completed